html{font-size:26.6666vw;}
html,body{height: 100%;}
body{display: flex;flex-direction: column;}
/* 左浮动右浮动 */
.fl{float: left;}
.fr{float: right;}
/* head */
#head{height: 0.26rem;
	padding: 0.12rem;font-size: 0.20rem;
	display: flex;justify-content: space-between;align-items: center;}
#head>a i{font-size: 0.2rem;color: #333333;margin: 0 0.1rem;}
.searchArea{width: 2.68rem;height: 0.26rem;line-height: 0.22rem;
	background:rgba(240,240,239,1);border-radius:0.16rem;
	box-sizing: border-box;padding: 0 0.2rem;}
.searchArea i{font-size: 0.12rem;vertical-align: middle;
	color:rgba(153,153,153,1);}
.searchArea input{vertical-align: middle;width: 90%;line-height: 0.12rem;
	font-size: 0.1rem;border: 0;background:rgba(240,240,239,1);color: #757575;}


/* content */
#content{flex: 1;overflow-y: auto;font-size: 0.16rem;}
/* banner */
.banner{width: 3.5rem;height: 1.5rem;
	position: relative;margin: 0 auto;}
.banner img{
	width: 3.5rem;height: 1.5rem;vertical-align: middle;
	position: absolute;top: 0;left: 0;
	border-radius: 0.1rem;}
/* title */
#content .title{
	font-family:PingFang SC;font-weight: 600;
	color: #333333;padding: 0.1rem 0.2rem;}
#content .title span{
	font-family:PingFang SC;font-size: 0.1rem;
	color: #999999;margin-top: 0.04rem;}
/* lists */
.lists{display: flex;
	overflow-x: auto;
	padding: 0 0.1rem;}
/*隐藏滚动条*/
.lists::-webkit-scrollbar{
	display: none;
}
.lists li{text-align: center;
	margin-right: 0.1rem;
	position: relative;}
.lists li a{
	display: inline-block;
	color: #4A4945;}
.lists li img{
	width: 1.22rem;height: 1.75rem;
	vertical-align: middle;border-radius: 0.1rem;}
/* lists下的标题两行文本显示省略号 */
.lists li .tit{width: 1rem;
	font-size: 0.16rem;color: #4A4945;line-height: 0.18rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin: 0.12rem 0.14rem 0.12rem 0.08rem;
	}
.lists li .num{
	position: absolute;top: 1.4rem;left: 0.1rem;
	background-color: #fff;
	font-size: 0.12rem;
	padding: 2px 4px;
	border-radius: 4px;
}

/* foot */
#foot{height: 0.48rem;}
.foot_lists{height: 0.48rem; display: flex;}
.foot_lists li{flex: 1;}
.foot_lists li a{display: flex;flex-direction: column;
	justify-content: center;align-items: center;
	color:rgba(151,151,151,1);height: 100%;}
.foot_lists li i{font-size: 0.20rem;}
.foot_lists li span{font-size: 0.08rem;}
.foot_lists .current i{color:rgba(51,51,51,1);}
.foot_lists .current span{color:rgba(51,51,51,1);}