html{font-size: 26.666vw;}
html,body{height: 100%;}
body{display: flex;flex-direction: column;position: relative;overflow-x: hidden;}

.head{width: 3.75rem;height: 0.54rem;padding-top: 0.14rem;border-bottom: solid 0.1rem #F5F7F9;box-sizing: border-box;}
.head span{font-size: 0.15rem;color: #333333;margin-left: 0.12rem;}
.head i{font-style: normal;font-size: 0.16rem;font-weight: 600;line-height: 0.22rem;margin-left: 1.16rem;color: #333333;letter-spacing: 0.02rem;}

.nav1{width: 3.75rem;height: 0.42rem;border-bottom: solid 0.1rem #F5F7F9;display: flex;flex-direction: column;align-content: space-around;}
.nav1 i{font-style: normal;font-size: 0.16rem;color: #333333;margin-left: 0.12rem;display: block;float: left;}
.nav1 li{height: 0.42rem;line-height: 0.42rem;}
.nav1 span{display: block;float: right;margin-right: 0.12rem;font-size: 0.16rem;color: #999999}
.nav1 .touxiang{float: left;width: 0.22rem;height: 0.22rem;border-radius: 50%;background: deeppink;margin-top: 0.1rem;}
.nav1 .genghuan{display: block;float: right;font-size: 0.12rem;color:rgba(250,175,155,1);margin-right: 0.14rem;}

.nav2{width: 3.75rem;height: 1.34rem;border-bottom: solid 0.1rem #F5F7F9;display: flex;flex-direction: column;align-content: space-around;}
.nav2 i{font-style: normal;font-size: 0.16rem;color: #333333;margin-left: 0.12rem;display: block;float: left;}
.nav2 li{height: 0.42rem;line-height: 0.42rem;}
.nav2 span{display: block;float: right;margin-right: 0.12rem;font-size: 0.16rem;color: #999999}
.nav2 .genghuan{display: block;float: right;font-size: 0.12rem;color:rgba(250,175,155,1);margin-right: 0.14rem;}

.nav3{width: 3.75rem;height: 0.88rem;border-bottom: solid 0.1rem #F5F7F9;display: flex;flex-direction: column;align-content: space-around;}
.nav3 i{font-style: normal;font-size: 0.16rem;color: #333333;margin-left: 0.12rem;display: block;float: left;}
.nav3 li{height: 0.42rem;line-height: 0.42rem;}
.nav3 span{display: block;float: right;margin-right: 0.12rem;font-size: 0.16rem;color: #999999}
.nav3 .genghuan{display: block;float: right;font-size: 0.12rem;color:rgba(250,175,155,1);margin-right: 0.14rem;}