body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,figure,figcaption{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0;}
a{text-decoration:none;}
input,a{outline:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
em,i{font-style: normal;}