html {
	font-size: 26.6666vw;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.head_l {
	width: 2.25rem;
	height: 0.38rem;
	font-size: 0.16rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 0.12rem;
	box-sizing: border-box;
}
.head_l p{
	font-size: 0.16rem;
	line-height: 0.38rem;
	display: inline-block;
	color: #333333;
	font-weight: 800;
}

#content {
	width: 100%;
	flex: 1;
	overflow-y: auto;
	padding: 0.12rem;
	box-sizing: border-box;
	font-size: 0.16rem;
	color:#333;
	display: flex;
	flex-direction: column; 
	text-indent: 0.12rem;
}
.cont-t{
	margin: 0 auto;
	text-align: center;
}
/* .cont-t img,.cont-t h2,.cont-t p{
	margin: 0 auto;
} */
.cont-t img:nth-child(1){
	display:block;
	width: 0.46rem;
	height: 0.46rem;
	border-radius: 50%;
	margin:0.18rem auto;
	
}
.cont-t h2,.cont-t p{
	font-size: 0.16rem;
	color: #333333;
	font-weight: 600;
	line-height: 0.22rem;
	margin-bottom: 0.05rem;
}
.cont-t p{
	font-weight: 500;
	color: #666666;
}
.cont-t span{
	color:#E98B71;
}